@{
    ViewBag.Title = "Home Page";
}

<form action="/Home/AddInfo6" method="post">
    <h3>用户注册</h3>
    <table>
        <tr>
            <td>姓名：</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td><input type="text" name="age" /></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td><select name="sex">
                <option value="男">男</option>
                <option value="女">女</option>
                </select>
            </td>
        </tr>
        <tr>
            
            <td rowspan="2"><input type="submit" value="提交" /></td>
        </tr>
    </table>
</form>